
$hd-sidebar-width: 250px;

$tablet-menu-height: 60vh;
$tablet-menu-height-collapsed: 64px;

$tablet-menu-width: calc(100vw - #{$tablet-menu-height-collapsed});
$tablet-menu-width-collapsed: $tablet-menu-height-collapsed;


main {
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
        "game       game"
        "game-menu  game-status";
}

@include from-size(desktop) {
    main {
        grid-template-columns: auto auto 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas:
            "game-menu      game"
            "game-status    game";
    }
}

@include from-size(desktop-hd) {
    main {
        grid-template-columns: auto 1fr auto;
        grid-template-rows: auto 1fr;
        grid-template-areas:
            "game-menu   hd-nav  hd-nav"
            "game-menu   game    game-status"
    }
}

.game-menu,
.game-status,
.hd-nav,
.game {
    overflow: hidden;
}


/**
 * GAME-MENU and GAME-STATUS sidebars
 * in mobile, phablet and tablet,game-menu and game-status
 * are collapsed vertically side-by-side, and share the horizontal space.
 * When one of them is open, both grow vertically.
 *
 * In desktop+, heights do not change, but areas are collapsed when not open.
 **/

.game-menu,
.game-status {
    height: $tablet-menu-height-collapsed;
}

.game-menu {
    width: $tablet-menu-width-collapsed;
}

.game-status {
    width: $tablet-menu-width;
}


.game-menu-open,
.game-status-open {
    .game-menu,
    .game-status {
        height: $tablet-menu-height;
    }
}

.game-menu-open {
    .game-menu {
        width: $tablet-menu-width;
    }
    .game-status {
        width: $tablet-menu-width-collapsed;
    }
}

.game-status-open {
    .game-menu {
        width: $tablet-menu-width-collapsed;
    }
    .game-status {
        width: $tablet-menu-width;
    }
}

@include from-size(desktop) {
    .game-menu,
    .game-status {
        width: $hd-sidebar-width;
    }

    .game-menu {
        height: $tablet-menu-height-collapsed;
    }

    .game-status {
        height: auto;
    }

    .game-menu-open,
    .game-status-open {
        .game-menu,
        .game-status {
            width: $hd-sidebar-width;
        }
    }

    .game-menu-open {
        grid-template-rows: 1fr auto;

        .game-menu {
            height: auto;
        }
        .game-status {
            height: $tablet-menu-height-collapsed;
        }
    }
    .game-status-open {
        grid-template-rows: auto 1fr;

        .game-menu {
            height: $tablet-menu-height-collapsed;
        }
        .game-status {
            height: auto;
        }
    }
}

@include from-size(desktop-hd) {
    .game-menu,
    .game-status {
        width: $hd-sidebar-width;
        height: auto;
    }

    .game-menu-open,
    .game-status-open {
        grid-template-rows: auto 1fr;

        .game-menu,
        .game-status {
            width: $hd-sidebar-width;
            height: auto;
        }
    }
}

.game-menu {
    grid-area: game-menu;
    background: black;
    color: white;
}

.game-status {
    grid-area: game-status;
    background: white;
}

.hd-nav {
    grid-area: hd-nav;
    background: $color-background-highlight;
    @include responsive(display, none, $desktop-hd: initial);
}

.game {
    grid-area: game;
    background: $color-background;
}
