
.game-menu .game-menu-handler {
    display: flex;
    justify-content: center;
    align-items: center;

    @include responsive(height, 100%, $desktop: auto);
}

.game-menu .player {
    text-align: center;
}

.game-menu .playable-games {
    nav {
        list-style-type: none;
    }

    .playable-game {
        position: relative;
    }

    .playable-game a {
        display: block;
        padding: 1em;
        color: white;
        text-decoration: none;

        .game-title {
            font-size: 1.2rem;
        }

        time {
            display: block;
            padding: 0.5em 0 0;
            font-size: 0.8rem;
        }
    }

    .playable-game .icon {
        display: none;
        position: absolute;
        right: 1em;
        bottom: 50%;
        transform: translateY(50%);
    }

    .playable-game a.active {
        background: $color-background-highlight;
        color: white;

        .icon {
            display: block;
        }
    }
}
