
.game-menu .game-menu-handler {
    display: flex;
    justify-content: center;
    align-items: center;

    @include responsive(height, 100%, $desktop: auto);
}

.game-menu .player {
    text-align: center;
}

.game-menu .playable-games {
    nav {
        list-style-type: none;
    }

    .playable-game {
        position: relative;
        padding: 1em;
        cursor: pointer;

        .game-title {
            font-size: 1.2rem;
            font-weight: normal;
        }

        time {
            display: block;
            padding: 0.5em 0 0;
            font-size: 0.8rem;
        }
    }

    .playable-game .icon {
        display: none;
        position: absolute;
        right: 1em;
        bottom: 50%;
        transform: translateY(50%);
    }

    .playable-game.active {
        background: $color-background-highlight;
        color: white;
    }

    .playable-game.active,
    .playable-game:hover {
        .icon {
            display: block;
        }
    }
}
