//
// project level configuration, variables and settings
//

$size-phablet: 544px;
$size-tablet: 768px;
$size-desktop: 992px;
$size-desktop-hd: 1200px;


//
// base theme
//

$color-input-border: #979797;
$color-input-shadow: rgba(0, 0, 0, 0.25);
$color-input-label: #a1a1a1;

$color-error-light: #eca9a9;
$color-error-dark: #822e2e;

$color-button-light: #403944;
$color-button-dark: #403944;
$color-button-highlight: rgba(255, 255, 255, 0.1);

$color-background: #e3e3e3;
$color-background-highlight: #c1beb4;
